@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

.extension-tree {
    max-height: 250px;
    overflow-y: scroll;
    margin-bottom: 15px;
}

pre {
    height: 80vh;
    min-height: 500px;
    overflow-y: scroll;
}
